
.tan_img{
  max-width: 500px;
  text-align: center;
  height: auto;
  object-fit: contain;
  background: -webkit-linear-gradient(0deg,rgb(0, 255, 196), rgb(0, 195, 255));
  padding-top: 56px;
}
.img_size{
  width: 100px;
}
.ul_01{
  background-color: rgb(137, 231, 200);
}

.img_01{
  max-width: 400px;
  text-align: center;
  margin: 5 auto;
}


/* ボタン全体 */
.flowbtn14{
    font-family:'Arial', sans-serif;	
    display:inline-block;
    width:150px;
    font-size:23px;
    text-align:left;
    background:#f3f3f3;
    border-radius:0 4px 4px 0; 
    color:#666!important;
    text-decoration:none;
    margin-bottom:5px;
    margin-left:5px;
    }
    .flowbtn14:hover{
    text-decoration:none;
    }
    /* Twitter */
    .flowbtn14.fl_tw14{
    border-left:solid 5px #55acee;	
    padding-left:8px;		
    }
    /* Twitterマウスホバー時 */
    .fl_tw14:hover{
    color:#55acee !important;
    }
    /* Instagram */
    .flowbtn14.insta_btn14{
    border-left:solid 5px #c6529a;
    padding-left:8px;				
    }
    /* Instagramマウスホバー時 */
    .insta_btn14:hover{
    color:#c6529a!important;	
    }
    /* Facebook */
    .flowbtn14.fl_fb14{
    border-left:solid 5px #3b5998;
    padding-left:8px;				
    }
    /* Facebookマウスホバー時 */
    .fl_fb14:hover{
    color:#3b5998 !important;
    }

    /* YouTube */
    .flowbtn14.fl_yu14{
    border-left:solid 5px #fc0d1c;
    padding-left:8px;				
    }
    /* YouTubeマウスホバー時 */
    .fl_yu14:hover{
    color: #fc0d1c!important;	
    }

    /* ボタン内テキスト調整 */
    .flowbtn14 span{
    font-size:16px;	
    position:relative;
    left:8px;
    bottom:3px;	
    }
    /* ulタグの内側余白を０にする */
    ul.snsbtniti2{
    padding:0!important;
    list-style-type:none!important;
    }
    /* ボタン全体の位置 */
    .snsbtniti2{
    flex-flow:row wrap;
    }
    /* ボタン同士の余白 */
    .snsbtniti2 li{
    text-align:center!important;
    }








.btn-circle-1 label {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    cursor :pointer;
  }
  
  .btn-circle-1 label:hover {
    background: #668ad8;
  }
  .btn-circle-1 input {
    display: none;
  }
  .btn-circle-1 .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.btn-circle-1 input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}




.btn-circle-2 label {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    cursor :pointer;
  }
  
  .btn-circle-2 label:hover {
    background: #668ad8;
  }
  .btn-circle-2 input {
    display: none;
  }
  .btn-circle-2 .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.btn-circle-2 input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
