
.sns:link {
  color: white; 
  border-style: none;
}
.img_size{
  width: 100px;
}
.ul_01{
  background-color: rgb(137, 231, 200);
}

.img_01{
  max-width: 400px;
  text-align: center;
  margin: 5 auto;
}

.btn-square-slant1 {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-square-slant1:span {  
  display:inline-block;
  transition: .5s;
}


.btn-square-slant1:hover {
  /*ボタンを押したとき*/
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
  border-style: none;
  color: #FFF;
}






.btn-square-slant2 {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #4966a0;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-square-slant2:span {  
  display:inline-block;
  transition: .5s;
}


.btn-square-slant2:hover span {
  /*ボタンを押したとき*/
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
  border-style: none;
  color: #FFF;
}






.btn-square-slant3 {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #ff2d2d;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-square-slant3:span {  
  display:inline-block;
  transition: .5s;
}


.btn-square-slant3:hover span {
  /*ボタンを押したとき*/
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
  border-style: none;
  color: #FFF;
}




.btn-square-slant4 {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  position: relative;
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}
.btn-square-slant4:before {  
 /*グラデーション②*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;/*全体を覆う*/
  height: 100%;/*全体を覆う*/
  background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
}


.btn-square-slant4:span {  
display:inline-block;
  position: relative;
  transition: .5s}

.btn-square-slant4:hover span {
  /*ボタンを押したとき*/
  border-style: none;
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
  color: #FFF;
}









.btn-circle-1 label {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    cursor :pointer;
  }
  
  .btn-circle-1 label:hover {
    background: #668ad8;
  }
  .btn-circle-1 input {
    display: none;
  }
  .btn-circle-1 .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.btn-circle-1 input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}




.btn-circle-2 label {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    cursor :pointer;
  }
  
  .btn-circle-2 label:hover {
    background: #668ad8;
  }
  .btn-circle-2 input {
    display: none;
  }
  .btn-circle-2 .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.btn-circle-2 input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
