.sns:link { color: white; }
.img_size{
  width: 100px;
}
.ul_01{
  background-color: rgb(137, 231, 200);
}

.img_01{
  max-width: 300px;
  text-align: center;
}

.btn-square-slant1 {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 5px #36528c;/*ボタン色より暗めに*/
  border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
}

.btn-square-slant1:before {  
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}

.btn-square-slant1:after {  
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.btn-square-slant1:hover {
  /*ボタンを押したとき*/
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
  text-decoration: none;
  color: #FFF;
}

.btn-square-slant1:hover:after, .btn-square-slant1:hover:before {
  content: none;/*ボタンを押すと線が消える*/
}






.btn-square-slant2 {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #3b5998;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 5px #36528c;/*ボタン色より暗めに*/
  border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
}

.btn-square-slant2:before {  
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}

.btn-square-slant2:after {  
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.btn-square-slant2:hover {
  /*ボタンを押したとき*/
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
  text-decoration: none;
  color: #FFF;
}

.btn-square-slant2:hover:after, .btn-square-slant2:hover:before {
  content: none;/*ボタンを押すと線が消える*/
}





.btn-square-slant3 {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #ff2d2d;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 5px #be2323;/*ボタン色より暗めに*/
  border-right: solid 5px #ff5d5d;/*ボタン色より暗めに*/
}

.btn-square-slant3:before {  
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}

.btn-square-slant3:after {  
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.btn-square-slant3:hover {
  /*ボタンを押したとき*/
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
  text-decoration: none;
  color: #FFF;
}

.btn-square-slant3:hover:after, .btn-square-slant3:hover:before {
  content: none;/*ボタンを押すと線が消える*/
}






.btn-circle-1 label {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    cursor :pointer;
  }
  
  .btn-circle-1 label:hover {
    background: #668ad8;
  }
  .btn-circle-1 input {
    display: none;
  }
  .btn-circle-1 .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.btn-circle-1 input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}




.btn-circle-2 label {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    cursor :pointer;
  }
  
  .btn-circle-2 label:hover {
    background: #668ad8;
  }
  .btn-circle-2 input {
    display: none;
  }
  .btn-circle-2 .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.btn-circle-2 input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
