body{
    padding-top: 56px;
}
.kiwi{
    background-color: #a9cf55;
}
.melon{
    background-color: #86c689;
}
.banana{
    background-color: #f5cd21;
}
.apple{
    background-color: #e62053;
}
.pine{
    background-color: #efea3c;
}
