.navbar-brand{
    color: #13680c;
}
.navbar {
    background-color: #a9cf55;
  }
  
  .nav-link {
    color: #13680c;
  }
body{
    padding-top: 56px;
    background-color: #FFDEAD;
    color: #4d2e0c;
}
.kiwi{
    background-color: #a9cf55;
}
.melon{
    background-color: #86c689;
}
.banana{
    background-color: #f5cd21;
}
.apple{
    background-color: #e62053;
}
.pine{
    background-color: #efea3c;
}


.body_01{
    background-color: #FFDEAD;
    color: #4d2e0c;
}

.star {
    animation: kirakira 8s linear;
    color: yellow;
    display: inline-block;
    height: 1em;
    line-height: 1em;
    position: fixed;
    top: -1em;
    z-index: 1000;
}

@keyframes kirakira {
    0% {
        transform:translateY(0) rotateY(0);
    }
    100% {
        transform:translateY(calc(100vh + 1em)) rotateY(3600deg);
    }
}


.center1{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
